<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <!-- <img class="mb-2" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19"> -->
      <div class="col-6 col-md">
        <h5>Find us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">23 nulla a cursus rhoncus,
            augue sem viverra 10870
            id ultricies sapien</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Let Us Help You</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Account Details</a></li>
          <li><a class="link-secondary" href="#">Order History</a></li>
          <li><a class="link-secondary" href="#">Order Details</a></li>
          <li><a class="link-secondary" href="#">Track your order</a></li>
          <li><a class="link-secondary" href="#">Help</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Doing Business</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Become a Delivery Person</a></li>
          <li><a class="link-secondary" href="#">Be a Partner Restaurant</a></li>
          <li><a class="link-secondary" href="#">info@company.com</a></li>
          <li><a class="link-secondary" href="#">LINE: eatery247</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <ul class="wow fadeInUp social-icon" data-wow-delay="0.4s">
             <img src="/Users/aish/Desktop/MSCS/SaaS/EatEz_SaaS/Mongoose/images/aa.jpg" width="24" height="19"> 
        </ul>

        <div class="wow fadeInUp copyright-text" data-wow-delay="0.8s">
             <p><br>Copyright &copy; 2018 <br>EatEz..Eat with Ease
        </div>
   </div>
    </div>
  </footer>
