<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <!-- <img class="mb-2" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19"> -->
      <div class="col-6 col-md">
        <h5>Find us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://www.google.co.in/maps/place/901+12th+Ave,+Seattle,+WA+98122/@47.6095169,-122.3211913,16z/data=!3m1!4b1!4m5!3m4!1s0x54906ac8cbf49ba1:0x400e54191048b395!8m2!3d47.6071156!4d-122.3168655">Seattle University, 12th Avenue, Seattle, WA</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Let Us Help You</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Account Details</a></li>
          <li><a class="link-secondary" href="#">Order History</a></li>
          <li><a class="link-secondary" href="#">Order Details</a></li>
          <li><a class="link-secondary" href="#">Track your order</a></li>
          <li><a class="link-secondary" href="#">Help</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Doing Business</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Become a Delivery Person</a></li>
          <li><a class="link-secondary" href="#">Be a Partner Restaurant</a></li>
          <li><a class="link-secondary" href="#">info@company.com</a></li>
          <li><a class="link-secondary" href="#">LINE: eatery247</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h5>Copyrights</h5>
        <div class="wow fadeInUp copyright-text" data-wow-delay="0.8s">
                       <p>Copyright &copy; 2021 <br>EatEz..Eat with Ease
        </div>
      </div>

    </div>
  </footer>
