

<div class="topnav">
     <a class ="text-align: center color : black"href="#restaurant" style="font-weight:bold">EatEZ.. Eat with Ease</a>

     <div class="topnav-right">
          <a class="active" href="#restaurant">Home</a>
          <a href="#restaurant">Restaurant & Cafeteria</a>
          <a href="#about">About</a>
          <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Contact Us: <i class="fa fa-phone"></i> 010 020 0340</a></li>
          </ul>
     </div>
   </div>














