
<!-- <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <h5 class="h5 my-0 me-md-auto fw-normal text-white">EatEZ<span>.</span> Eat with Ease!!</h5>
  <nav class="my-2 my-md-0 me-md-3 topnav-right">
       <div class="topnav-right">
          <a class="p-2 text-white " href="#home">Home</a>
          <a class="p-2 text-white" href="#about">About</a>
          <a class="p-2 text-white" href="#team">Restaurant & Cafeteria</a>
          <a class="p-2 text-white" href="#contact">Contact</a>

       </div>

  </nav>

  <ul class="nav navbar-nav navbar-right">
     <li><a href="#">Call Now! <i class="fa fa-phone"></i> 010 020 0340</a></li>

</ul>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</header>-->

<div class="topnav">


     <h5 class="h5 my-0 me-md-auto fw-normal text-white">
          <app-header></app-header>
     </h5>
<!--     <img src="/Users/pankhuri/Desktop/EatEz_SaaS/Angular/logo5.png" style="margin:auto; width:53px; "  />-->
     <a class ="text-align: center color: black"href="#header">EatEZ.. Eat with Ease</a>
     <div class="topnav-right">

          <a class="active" href="#home">Home</a>
          <a href="#team">Restaurant & Cafeteria</a>
          <a href="#about">About</a>
          <ul class="nav navbar-nav navbar-right">
               <li><a href="#">Contact Us: <i class="fa fa-phone"></i> 010 020 0340</a></li>

          </ul>

     </div>
   </div>














