<div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty.</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
  <li class="list-group-item" *ngFor="let item of cartItems">
    <app-cart-item [cartItem]="item"></app-cart-item>
  </li>

  <li class="list-group-item active">
    <strong>Total</strong> {{ cartTotal | currency }}
  </li>

  <br>
  <button type="button" class="btn btn-sm btn-primary product-btn" (click)="onCartAllItemDelete()">Delete Entire cart</button>
  <br>
  <button class="btn btn-primary btn-block" [routerLink]="['/order-details']" >Checkout</button>
</ul>

 