<app-nav></app-nav>
<br>
<h1 style="font-family: 'Times New Roman', Times, serif">Hi there, Order placed successfully!</h1>

<div class="content-area">
    <div class="wrapper">
    <!-- <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="restaurant.restaurantImageUrl" /> -->
    <h2>{{ restaurant.restaurantName }}</h2>
    <p>{{ restaurant.restaurantAddress }}</p>
    <p> {{ restaurant.phoneNumber }}</p>
</div>
</div>

<div>
    <p style="font-family:'Courier New'"> Your order will be delivered at :</p>
    <p style="font-family:'Courier New'"> Bannan Engineering Building, Room 403 at 12:30pm</p>
    <p style="font-family: 'Times New Roman', Times, serif"> Enjoy the food!</p>
    <p style="font-family: 'Times New Roman', Times, serif"> Follow us on instagram and facebook page</p>
</div>
