<!--<div class="topnav">-->
<!--  <h5 class="h5 my-0 me-md-auto fw-normal text-white">-->
<!--       <app-header></app-header>-->
<!--  </h5>-->
<!--&lt;!&ndash;     <img src="/Users/pankhuri/Desktop/EatEz_SaaS/Angular/logo5.png" style="margin:auto; width:53px; "  />&ndash;&gt;-->
<!--  <a class ="text-align: center color: black"href="#header">EatEZ.. Eat with Ease</a>-->
<!--  <div class="topnav-right">-->
<!--       &lt;!&ndash; <a class="active" href="#home">Home</a>-->
<!--       <a href="#team">Restaurant & Cafeteria</a>-->
<!--       <a href="#about">About</a> &ndash;&gt;-->
<!--       <ul class="nav navbar-nav navbar-right">-->
<!--            <li><a href="#">Contact Us: <i class="fa fa-phone"></i> 010 020 0340</a></li>-->
<!--            <li><a href="/auth/logout">Log Out</a></li>-->
<!--       </ul>-->
<!--  </div>-->
<!--</div>-->
<!--<header>-->
<!--</header>-->
<!--<section>-->
<!--  <div class="content-area">-->
<!--    <div class="wrapper">-->
<!--      <h2>REDHAWKS CAFETERIA</h2>-->
<!--      <p>Seattle University, Seattle, WA 98109</p>-->
<!--      <p> Ph:+1-9807363543</p>-->
<!--      <div class="title">-->
<!--        <h4>Menu</h4>-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <mw-menu-item-->
<!--    *ngFor="let menuItem of menuItems"-->
<!--    [menuItem]="menuItem"-->
<!--    (delete)="onMenuItemDelete($event)"></mw-menu-item>-->
<!--</section>-->
<!--<footer>-->
<!--  <a routerLink="/addMenuItem/1" >-->
<!--  <button class="button button1">Add Item</button>-->
<!--  </a>-->
<!--</footer>-->

<div>
  <app-header></app-header>
</div>
<div>
  <br>
  <main class="container">

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">
              <img src="https://api.dineoncampus.com/files/test/path/ea76905e-6407-415e-a404-8e8ba597f9dc.png" width="500" height="200">
            </strong>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">
              <h2>REDHAWKS CAFETERIA</h2>
              <p>Seattle University,</p>
              <p> Seattle, WA 98109</p>
              <p> Ph:+1-9807363543</p>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </main>
  <h1> Menu </h1>
<br>
  <div>
  <mw-menu-item
    *ngFor="let menuItem of menuItems"
    [menuItem]="menuItem"
    (delete)="onMenuItemDelete($event)"></mw-menu-item>
  </div>
  <br>
  <div class="btn-container">
    <div class="center">
  <a routerLink="/addMenuItem/1" >
    <button class="button button1">Add Item</button>
  </a>
    </div>
  </div>
</div>

