
<div class="topnav">


  <h5 class="h5 my-0 me-md-auto fw-normal text-white">
       <app-header></app-header>
  </h5>
<!--     <img src="/Users/pankhuri/Desktop/EatEz_SaaS/Angular/logo5.png" style="margin:auto; width:53px; "  />-->
  <a class ="text-align: center color: black"href="#header">EatEZ.. Eat with Ease</a>
  <div class="topnav-right">

       <!-- <a class="active" href="#home">Home</a>
       <a href="#team">Restaurant & Cafeteria</a>
       <a href="#about">About</a> -->
       <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Contact Us: <i class="fa fa-phone"></i> 010 020 0340</a></li>

       </ul>

  </div>
</div>

<header>
  
</header>

<section>
  <div class="content-area">
    <div class="wrapper">
      <h2>REDHAWKS CAFETERIA</h2>
      <p>Seattle University, Seattle, WA 98109</p>
      <p> Ph:+1-9807363543</p>
      <div class="title">
        <h4>Menu</h4>
    </div>
    </div>
  </div>
  <mw-menu-item
    *ngFor="let menuItem of menuItems"
    [menuItem]="menuItem"
    (delete)="onMenuItemDelete($event)"></mw-menu-item>
</section>
<footer>
  <a routerLink="/addMenuItem/1" >
  <button class="button button1">Add Item</button>
  </a>
</footer>