<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--</head>-->

<!--<body>-->
<!--    <header>-->

<!--    </header>-->
<!--<div class="navbar">-->
<!--    <a class="logo" href="#"> EatEZ</a>-->
<!--    <ul class="nav">-->
<!-- <li><a href="/auth/google">Log In</a></li>-->
<!--<li><a href="#contact">Contact</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--<section class="banner-area" id="home">-->
<!--    <div class="text-part">-->
<!--        <h1>Market your restaurant online</h1>-->
<!--<p>Customers are ordering online now more than ever - be where they are</p>-->
<!--</div>-->
<!--</section>-->
<!--</body>-->

<div>
  <app-header></app-header>
</div>
<br>
<div>
<section class="owner-login-page">
  <img src="https://image.freepik.com/free-photo/pasta-spaghetti-with-ingredients-cooking-pasta-white-background-top-view_127657-1230.jpg">
  <div class="owner-login-page-content">
    <h1>Market your restaurant online</h1>
    <h4>Customers are ordering online now </h4>
    <h4>more than ever - be where they are</h4>
    <br>
    <a href="/auth/google" class="btn btn-lg btn-primary">Login</a> &nbsp;
    <a href="#" class="btn btn-lg btn-light">Join Us</a>
  </div>
</section>
</div>

